<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>#footer-wrap {
}
#footer {
    background: transparent;
}
#footer-wrap a{
    color: #49b1f5;
}
#footer-wrap {
    color: #49b1f5;
}
#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(/img/index/index_img.jpg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }