<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>#footer-wrap {
}
#footer {
    background: transparent;
}
#footer-wrap a{
    color: #49b1f5;
}
#footer-wrap {
    color: #49b1f5;
}